<!DOCTYPE html>
<html lang="en" xmlms="https://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mi Página EOI</title>

</head>

<header th:fragment= "cabeceraHome"><h1>Home EOI</h1></header>
<header th:fragment= "cabeceraQuienes"><h1>Quienes somos en la EOI</h1></header>
<header th:fragment= "cabeceraPersonCard"><h1>Tarjetas  del Cliente</h1></header>
<header th:fragment= "cabeceraPerson"><h1>Detalle del Cliente</h1></header>
<header th:fragment= "cabeceraContacto"><h1>Contacto EOI</h1></header>
<header th:fragment="cabeceraCalendario"><h1>Calendario de la EOI </h1></header>
<body>


</body>
</html>
