<!DOCTYPE html>
<html lang="en" xmlms="https://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mi Página EOI</title>

</head>

<body>
<footer>
    <div class="container" th:fragment="footer">
        <div class="row">
            <div class="four columns">
                <nav id="principal" class="menu">
                    <a class="enlace" href="#">Conviertete en Instructor</a>
                    <a class="enlace" href="#">Aplicaciones Móviles</a>
                    <a class="enlace" href="#">Soporte</a>
                    <a class="enlace" href="#">Temas</a>
                </nav>
            </div>
            <div class="four columns">
                <nav id="secundaria" class="menu">
                    <a class="enlace" href="#">¿Quienes Somos?</a>
                    <a class="enlace" href="#">Empleo</a>
                    <a class="enlace" href="#">Blog</a>
                </nav>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
