<!DOCTYPE html>
<html lang="en" xmlms="https://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Mi Página EOI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/miestilo.css}" rel="stylesheet" />
    <link th:href="@{/css/esqueleto.css}" rel="stylesheet" />
    <link th:="@{/perror/cocker.txt}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


</head>


<body>
<div th:replace="~{fragments/Cabecera :: cabeceraPerson}"></div>
<div th:replace="~{fragments/BarraNavegacion :: barraNavegacion}"></div>
<!--<h1 th:text="${persona}"/>-->
<!--<h2><img th:src ="${imagenh2}"/></h2>-->
<article>
    <section>

        <h2> Detalle del cliente</h2>
        <div class = "row" th:each="attrPerson: ${personas} ">
            <div class="col-sm-3">
                <label>Nombre Completo:</label>
                <textfield th:text="${attrPerson.Nombre}+${attrPerson.Apellidos}"/>
            </div>
            <div class="col-sm-3">
                <label>Dirección :</label>
                <textfield th:text="${attrPerson.direccion}"/>
            </div>
            <div class="col-sm-3">
                <div class = "row">
                    <label>Fecha nacimiento</label>
                    <textfield th:text="${#dates.format(attrPerson.fechaNac, 'dd/MM/yyyy')}"/>
                </div>

            </div>
        </div>


<!--    <div class="container">-->
<!--        <div class="row" style="height: 500px">-->
<!--            <div class="col-md-2"></div>-->
<!--            <div class="col-md-8">-->
<!--                &lt;!&ndash; Carousel &ndash;&gt;-->
<!--                <div id="demo" class="carousel slide" data-bs-ride="carousel">-->

<!--                    &lt;!&ndash; Indicators/dots &ndash;&gt;-->
<!--                    <div class="carousel-indicators">-->
<!--                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>-->
<!--                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>-->
<!--                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; The slideshow/carousel &ndash;&gt;-->
<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <img th:src="${imagenh2}"-->
<!--                                 alt="Cookies Panda" class="mx-auto d-block" width="50%" margin="auto">-->
<!--                        </div>-->

<!--                        <div class="carousel-item">-->
<!--                            <img th:src="${imagenh3}" alt="Cookies Gatito" class="mx-auto d-block" width="50%"-->
<!--                                 margin="auto">-->
<!--                        </div>-->

<!--                        <div class="carousel-item">-->
<!--                            <img th:src="${imagenh4}"-->
<!--                                 alt="Cookies Perro" class="mx-auto d-block" width="50%" margin="auto">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; Left and right controls/icons &ndash;&gt;-->
<!--                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">-->
<!--                        <span class="carousel-control-prev-icon"></span>-->
<!--                    </button>-->
<!--                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">-->
<!--                        <span class="carousel-control-next-icon"></span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-2"></div>-->
<!--        </div>-->
<!--    </div>-->

</section>
</article>

<footer>
    <div th:replace="~{fragments/Footer :: footer}"></div>
</footer>

</body>
</html>
